@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@tailwind utilities;

@theme {
  --color-ps-blue: oklch(0.225 0.066 257.39);
  --color-ps-mblue: oklch(0.2178 0.0401 251.43);
  --color-ps-white: oklch(0.979 0.003 247.87);
}

@layer base {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: sans-serif;
  }

  #borderimg3 {
    border-image-source: url(/texture.svg);
    border-image-slice: 30;
  }

  #lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}