@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@tailwind utilities;

@theme {
  --color-ps-blue: oklch(0.225 0.066 257.39);
  --color-ps-white: oklch(0.979 0.003 247.87);
}

@layer base {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: sans-serif;
  }
}